/* -----------------------------------------------------------------------------
//  Font Stacks
//  http://www.cssfontstack.com/
// -------------------------------------------------------------------------- */

:root {
  /* Sans serif fonts. */
  --font-arial:                  Arial, "Helvetica Neue", Helvetica, sans-serif;
  --font-arial-black:            "Arial Black", "Arial Bold", Gadget, sans-serif;
  --font-arial-narrow:           "Arial Narrow", Arial, sans-serif;
  --font-arial-rounded-mt-bold:  "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  --font-avant-garde:            "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  --font-calibri:                Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  --font-candara:                Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  --font-century-gothic:         "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  --font-franklin-gothic-medium: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  --font-futura:                 Futura, "Trebuchet MS", Arial, sans-serif;
  --font-geneva:                 Geneva, Tahoma, Verdana, sans-serif;
  --font-gill-sans:              "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  --font-helvetica:              "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-impact:                 Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  --font-lucida-grande:          "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  --font-optima:                 Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  --font-segoe-ui:               "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  --font-tahoma:                 Tahoma, Verdana, Segoe, sans-serif;
  --font-trebuchet-ms:           "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  --font-verdana:                Verdana, Geneva, sans-serif;

  /* Serif fonts. */
  --font-baskerville:         Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  --font-big-caslon:          "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  --font-bodoni-mt:           "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  --font-book-antiqua:        "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  --font-callisto-mt:         "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  --font-cambria:             Cambria, Georgia, serif;
  --font-didot:               Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  --font-garamond:            Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --font-georgia:             Georgia, Times, "Times New Roman", serif;
  --font-goudy-old-style:     "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  --font-hoefler-text:        "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  --font-lucida-bright:       "Lucida Bright", Georgia, serif;
  --font-palatino:            Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  --font-perpetua:            Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  --font-rockwell:            Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  --font-rockwell-extra-bold: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  --font-times-new-roman:     TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

  /* Monospaced fonts. */
  --font-andale-mono:            "Andale Mono", AndaleMono, monospace;
  --font-consolas:               Consolas, Monaco, monospace;
  --font-courier-new:            "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --font-lucida-console:         "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  --font-lucida-sans-typewriter: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  --font-monaco:                 Monaco, Consolas, "Lucida Console", monospace;

  /* Fantasy fonts. */
  --font-copperplate: Copperplate, "Copperplate Gothic Light", fantasy;
  --font-papyrus:     Papyrus, fantasy;

  /* Script fonts. */
  --font-brush-script-mt: "Brush Script MT", cursive;
}
