# https://editorconfig.org/
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
# https://devhints.io/editorconfig

root = true

[*]
indent_style             = space
indent_size              = 2
tab_width                = 2
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
max_line_length          = off

# ------------------------------------------------------------------------------

[*.py]

# https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces
indent_style = space

# https://www.python.org/dev/peps/pep-0008/#indentation
indent_size = 4
